:root {
    --preto: #0D0D0D;
    --cinza-escuro: #161a1d;
    --branco: #ffffff;
    --amarelo: #ffba08;
}

body {
    font-family: monospace;
    text-align: center;
    background-image: url(images/background.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center;
}

.page-title {
    background: var(--preto);
    color: var(--amarelo);
    margin: 0 0 5px;
    font-size: 50px;
}

main p {
    color: var(--branco);
    text-align:center;
    font-size: 20px;
    text-shadow: black 0.1em 0.1em 0.2em
}

.botao {
    font-size: 1.2em;
    background: var(--amarelo);
    border: 0;
    margin-bottom: 1em;
    color: var(--cinza-escuro);
    padding: 0.2em 0.6em;
    box-shadow: 0.1em 0.1em 0.2em var(--preto); 
    
}

.botao:hover {
    background: var(--branco);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    transition: .2s;
}
.botao, select{
cursor: pointer;
}

.campo input {
display: block;
margin: 0 auto;
padding: 8px 150px;
}
input {
position: center;
}

input, button{
border-radius: 5px;
}

#listartes {
margin: 0 10px;
}

body img {
margin: 2 5px;
}

img {
max-height: 100%;
max-width: 100%;
width: 250px;
height: 350px;
object-fit: cover;
border-radius: 10px;
box-shadow: 0 0 2em var(--preto); 
transition: all 0.5s ease;
display: inline-block; 
}

img:hover {
transition: all 0.3s ease;
transform: scale(1.1); 
filter: grayscale(100%) brightness(50%) blur(0.5px);  
}


