:root {
    --preto: #0D0D0D;
    --cinza-escuro: #161a1d;
    --branco: #ffffff;
    --amarelo: #ffd95e;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: monospace;
    text-align: center;
    background-image: url(images/background.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.conteiner {

    /* display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center; */
}

.page-title {
    backdrop-filter: blur(5px) saturate(0%);
    -webkit-backdrop-filter: blur(5px) saturate(0%);
    background-color: rgba(13, 13, 13, 0.02);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.459);
    color: var(--amarelo);
    font-size: 50px;
}

main p {
    color: var(--branco);
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align:center;
    text-shadow: black 0.1em 0.1em 0.2em
}

.botao {
    background-color: var(--amarelo);
    border: 0;
    box-shadow: 0.1em 0.1em 0.2em var(--preto); 
    color: var(--cinza-escuro);
    font-size: 1.2em;
    margin-top: .3em;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    transition: .5s;
    
}

.botao:hover {
    background: var(--branco);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
}
.botao, select{
    cursor: pointer;
}

.campo {
    margin: 0px;
}

.campo input {
    display: block;
    margin: 0px auto;
    padding: 8px 20%;
}
input {
    position: center;
}

input, button{
    border-radius: 5px; 
}

#listartes {
    margin: 0 10px;
}

.img {
    padding: 30px;
}

img {
    margin-bottom: 5px;
    max-height: 100%;
    max-width: 100%;
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 2em var(--preto); 
    transition: all 0.5s ease;
    display: inline-block;
    position: relative;
}

img:hover {
    transition: all 0.5s ease;
    transform: scale(1.3); 
    z-index: 9999;
}

.img:hover :not(:hover) {
    filter: grayscale(100%) blur(1px);
    transition: all 0.5s ease;
}

footer > p {
    background: linear-gradient(0deg, rgba(22,26,29,1) 0%, rgba(13,13,13,1) 100%);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    color: var(--branco);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

footer > p > a {
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;
    transition: all .5s ease;
}

footer > p > a:hover {
    color: var(--amarelo);
    text-shadow: 0px 0px 5px var(--amarelo);
}






